body{margin-top:20px;}
.rounded-circle {
    border-radius: 50% !important;
}

.sub-image-sofia {
    max-width: 70px;
    height: auto;
    vertical-align: top;
}

.sub-image-fia {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.sub-info-sofia{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #c9a24d;
}

.display-30 {
    font-size: 0.9rem;
}